<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<script src="angular.min.js"></script>
		<script src="meuApp.js"></script>
		<script src="controladores.js"></script>
		<title>Página 34</title>
	</head>

	<body >
		<h1>Filtros AngularJS</h1> 
        <div ng-app ="meuApp" ng-controller="controladorTurma" ng-init="nome=''">
            <p><label for="nome">Digite o nome:</label></p>
                <input type="text" id="nome" ng-model="nome">
            <ul>
                <li ng-repeat="i in alunos  | filter: nome ">{{ i }}</li>
            </ul>
        </div>
 

	</body>
</html>