<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<script src="angular.min.js"></script>
	<script src="appCalculadora.js"></script>
	<script src="controladores.js"></script>
	<title>Calculadora de Esfera</title>
	<link rel="stylesheet" href="calculadora.css">
</head>

<body>
	<div ng-app="appCalculadora" ng-controller="controladoraEsfera">
		<h1>Dados para calcular</h1>

		<form>
			<fieldset>
				<p><label for="raio">Valor do Raio:</label><input type="text" id="raio" autofocus ng-model="raio"/></p>
			</fieldset>

			<hr>
				<p><input type="button" value="Calcular Esfera" ng-click="calcularEsfera()"></p>
			<hr>

			<p>
				<label for="comprimento">Comprimento: </label>
				<output id="comprimento" ng-bind="comprimento"></output>
			</p>

			<p>
				<label for="area">Area: </label>
				<output id="area" ng-bind="area"></output>
			</p>

			<p>
				<label for="volume">Volume: </label>
				<output id="volume" ng-bind="volume"></output>
			</p>

		</form>
	</div>

</body>

</html>