<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<script src="angular.min.js"></script>
	<script src="appCalculadora.js"></script>
	<script src="controladores.js"></script>
	<title>Calculando DELTA</title>
	<link rel="stylesheet" href="calculadora.css">
</head>

<body>
	<div ng-app="appCalculadora" ng-controller="controladorDelta">
		<h1>Calculando DELTA</h1>

		<form>
			<fieldset>
				<p><label for="A">Valor A:</label><input type="text" id="A" autofocus ng-model="a"/></p>
				<p><label for="B">Valor B:</label><input type="text" id="B" ng-model="b"/></p>
				<p><label for="C">Valor C:</label><input type="text" id="C" ng-model="c"/></p>
			</fieldset>

			<hr>
			<p><input type="button" value="Calcular Delta" ng-click="calcularDelta()"></p>
			<hr>

			<p>
				<label for="delta">Valor do delta: </label>
				<output id="delta" ng-bind="delta"></output>
			</p>

			<p>
				<label for="x1">Valor do X<sub>1</sub>: </label>
				<output id="x1" ng-bind="x1"></output>
			</p>

			<p>
				<label for="x2">Valor do X<sub>2</sub></label>
				<output id="x2" ng-bind="x2"></output>
			</p>

		</form>
	</div>

</body>

</html>